@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
body{
  height: 100vh;
  background: linear-gradient(#1976d2, rgb(73, 73, 146));
  display: flex;
  justify-content: center;
  align-items: center;
}
